<!-- Dashboard Item -->
<div class="item" data-value="{{id}}">
    <div class="item-main">
        <div class="item-header">
            <a href="/{{id}}"><h2>{{title}}</h2></a>
        </div>
        <div class="item-buttons">
            <a><img src="img/edit.svg"></a>
            <a><img src="img/delete.svg"></a>
        </div>
    </div>
    <p class="item-info">Posted {{createdAt.formattedDate}} at {{createdAt.formattedTime}}</p>
</div>

<script></script>