<!-- Blog post -->
<div class="blog-post">
    <div class="blog-post-header"><a href="/post/{{id}}"><h2>{{title}}</h2></a></div>
    <p class="blog-post-meta">Posted {{createdAt.formattedDate}} at {{createdAt.formattedTime}} by {{user.username}}</p>
    <p class="blog-post-content">{{content}}</p>
</div>